
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Sacramento&family=Sofia&family=Tangerine:wght@400;700&family=Wellfleet&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
}

.container
{
    width: 100%;
    min-height: 900px;
    /* border: 2px solid #000; */
    background-color: #000;
    display: flex;
    flex-direction: column;
}

#section1
{
    width: 100%;
    height: 100vh;
    /* border: 2px solid #fff; */
}

#section1 .main-logo-menu
{
    width: 100%;
    height: 50px;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: row;
}

.main-logo-menu .logo
{
    width: 40%;
    height: 100%;
    /* border: 2px solid white; */
    display: flex;
}

.logo h1{
    padding: 5px;
    padding-left: 170px;
    color: white;
    position: fixed;
    font-family: "Wellfleet", monospace;
    font-weight: 250;
}

.main-logo-menu .menu
{ 
    width: 55%;
    height: 100%;
    /* border: 2px solid #fff; */
    margin-left: 60px;
    display: flex;
}

.menu a:hover{
  color: yellow;
}
nav{
    position: fixed;
    top:0;
    overflow: hidden;
}

nav ul li{
list-style-type: none;
display: inline-block;
padding-top: 15px;

}
nav ul li a{

    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 45px;
}

#section1 .bigbox
{
  width: 100%;
  height: 93vh;
  /* border: 2px solid #fff; */
}

.bigbox img
{
    width: 100%;
    height: 100%;
}

.bigbox .box1 h2
{
    color: yellow;
    position: absolute;
    top: 36%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.box1 p
{
    font-size: 5em;
    color: white;
    position: absolute;
    top: 50%;
    left: 24%;
    transform: translate(-50%, -50%);
}

.box1 span
{
    color: yellow;
}

.box1 h3{
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 65%;
    left: 21%;
    transform: translate(-50%, -50%);
}

/* .loader
{
    display: flex;
    gap: 0.25rem;
    margin-top: -455px;
    margin-left: 300px;
}

.loader .dot
{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: yellow;
}

.loader .dot
{
    animation: bounce 0.5s infinite alternate;
}

@keyframes bounce
{
    to{
        translate: 0 -0.25rem;
    }
} */

#section2
{
    width: 100%;
    height: 100vh;
    /* border: 2px solid white; */
    color: white;
    display: flex;
    flex-direction: row;
}

#section2 .box2
{
    width: 30%;
    height: 60%;
    /* border: 2px solid #fff; */
    margin-top: 170px;
    margin-left: 150px;
    /* float: left; */
    display: flex;
}

.box2 img
{
    width: 100%;
    height: 100%;
    /* filter: drop-shadow(5px 8px 5px yellow); */
}

/* .box2 img:hover
{
    width: 105%;
    height: 105%;
} */

#section2 .box3
{
    width: 60%;
    height: 100%;
    /* border: 2px solid #fff; */
    /* float: right; */
    display: flex;
    flex-direction: column;
}

.box3 h1
{
    padding-top: 200px;
    padding-left: 150px;
    color: white;
    font-size: 2.2em;
}

#section2 .box3 p
{
    font-size: 1.4em;
    padding-top: 22px;
    padding-left: 150px;
    color: white;
}

.box3 pre{
    margin-left: -10px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.4em;
}

.box3 pre span
{
    font-size: 1.5em;
    
}

.box3 .sbox3
{
    width: 180px;
    height: 50px;
    border: 2px solid #fff;
    margin-left: 150px;
    margin-top: 30px;
    background-color: yellow;
    padding: 13px;
    border-radius: 25px;
    /* text-decoration: none;
    font-size: 1.2em;
    color: #000; */
    display: flex;
}

.sbox3 a
{
    font-size: 1.2em;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.sbox3
{
    animation: bounce 0.5s infinite alternate;
}

@keyframes bounce
{
    to{
        translate: 0 -0.25rem;
    }
}

#section3
{
    width: 100%;
    height: 100vh;
    /* border: 2px solid #fff; */
    color: white;
    /* display: flex; */
    /* flex-direction: row; */
}

#section3 p
{
    font-size: 2.2em;
    padding-left: 690px;
    padding-top: 170px;
    font-weight: bold;
}

.underline
{
    /* display: flex;
    flex-direction: row; */
    width: 84%;
    height: 4px;
    margin-left: 130px;
    margin-top: 20px;
    background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(244, 244, 125) 20%,rgb(238, 238, 36) 50%, #ffbd39 100%);
}

.s3box1
{
    width: 25%;
    height: 200px;
    border: 2px solid #fff;
    margin-top: 20px;
    margin-left: 100px;
    background-color: rgb(41, 38, 38);
    float: left;
    /* display: flex;
    flex-direction: column; */
}

.s3box1:hover
{
    /* background-color: #fff; */
    box-shadow: 1px 1px 1px 3px yellow;
}

.s3box1 h1
{
    padding-top: 10px;
    padding-left: 30px;
    font-size: 1.5em;
    color: yellow;
}

.s3box1 h2
{
    padding-top: 10px;
    padding-left: 30px;
    font-size: 1.5em;
    color: white;
}

.s3box1 h3
{
    padding-top: 18px;
    padding-left: 30px;
    font-size: 1.2em;
    color: grey;
}

.s3box1 h4
{
    padding-top: 25px;
    padding-left: 30px;
    font-size: 1.2em;
    color: grey;
}
#section4
{
    width: 100%;
    height: 100vh;
    /* border: 2px solid #fff; */
    color: white;
    display: flex; 
    flex-direction: column;
}

#section4 h2
{
    margin-left: 690px;
    margin-top: 80px;
    font-weight: bold;
    font-size: 2em;
}

#section4 .s4bigbox
{
    width: 100%;
    height: 575px;
    /* border: 2px solid #fff; */
    display: flex;
    flex-direction: row;
}

#section4 .s4box1{
    width: 450px;
    height: 450px;
    border: 2px solid #fff;
    margin-top: 35px;
    margin-left: 210px;
    padding-left: 20px;
    padding-top: 20px;
    background-color:  rgb(41, 38, 38);
    /* float: left; */
    display: flex;
    flex-direction: column;
}

.s4box1 .s4sbox
{
    width: 95%;
    height: 80%;
    border: 2px solid #fff;
    /* display: flex; */
    /* flex-direction: row; */
}

.s4sbox img
{
    width: 100%;
    height: 100%;
}

.s4box1 pre
{
    font-size: 1.3em;
    margin-top: 20px;
    margin-left: 8px;
}

.s4sbox img:hover
{
    /* background-color:rgb(41, 38, 38); */
    border: 5px solid #fff;
}

#section4 .s4box2{
    width: 450px;
    height: 450px;
    border: 2px solid #fff;
    margin-top: 35px;
    margin-left: 170px;
    padding-left: 20px;
    padding-top: 20px;
    background-color:  rgb(41, 38, 38);
    /* float: left; */
    display: flex;
    flex-direction: column;
}

.s4box2 .s4sbox2
{
    width: 95%;
    height: 80%;
    border: 2px solid #fff;
}

.s4sbox2 img
{
    width: 100%;
    height: 100%;
}

.s4box2 pre
{
    font-size: 1.3em;
    margin-top: 20px;
    margin-left: 150px;
}

.s4sbox2 img:hover
{
    border: 5px solid #fff;
}

#section5
{
    width: 100%;
    height: 100vh;
    /* border: 2px solid #fff; */
    color: white;
    display: flex; 
    flex-direction: column;
}

#section5 .s5bigbox
{
    width: 100%;
    height: 550px;
    /* border: 2px solid #fff; */
    display: flex;
    flex-direction: row;
}

#section5 .Cbox1
{
    width: 50%;
    height: 100%;
    /* border: 2px solid #fff; */
    /* float: left; */
    display: flex; 
    flex-direction: column;
}

.Cbox1 h1
{
    padding-top: 240px;
    padding-left: 150px;
    font-size: 2.2em;
}

.Cbox1 pre
{
    padding-top: 10px;
    margin-left: -40px;
    /* padding-left: -100px; */
    font-size: 1.4em;
}

#section5 .Cbox2
{
    width: 50%;
    height: 100%;
    /* border: 2px solid #fff; */
    /* float: right; */
    /* display: flex; */
    /* flex-direction: column; */
}

.Cbox2 h1
{
    padding-top: 240px;
    padding-left: 150px;
    font-size: 2.2em;
    margin-bottom: 20px;
}

.Cbox2 #img1
{
    margin-left: 180px;
    /* display: flex;
    flex-direction: row; */
}

.Cbox2 #img2
{
    margin-left: 20px;
    /* display: flex;
    flex-direction: row; */
}

#section5 .Cbox3
{
    width: 100%;
    height: 50px;
    /* border: 2px solid #fff; */
    float: left;
    margin-top: 60px;
    padding-left: 620px;
    display: flex;
}

.Cbox3 h4
{
    font-size: 1.4em;
}